<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="google-site-verification" content="ik_L3p93_g0VYcFh_FrrDdwDujtcnRdGNPWXKV-gvz0" />
      <title>CSFox</title>
      <link rel="icon" href="/static/images/fox.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <link rel="stylesheet" link href="/static/css/bootstrap_edit.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand m-3" href="{{ url_for('welcome') }}">
                <img src="/static/images/fox.png" alt="Logo"height="35vh" class="d-inline-block align-text-top">
            </a>
            <div class="navbar-nav justify-content-start"><a href="{{ url_for('welcome') }}">CSFox</a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown m-2">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Student Projects</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('everyday_apps') }}">Everyday Apps</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('community_service_apps') }}">Community Service Apps</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('games') }}">Games</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown m-2">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tutorials</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('python') }}">Python</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('java') }}">Java</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cpp') }}">C++</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('CSS') }}">HTML/CSS</a></li>
                  </ul>
                </li>
                {% if current_user.is_authenticated %}
                    {% if current_user.account_type == 'Student' or current_user.account_type == 'Admin' %}
                    <li class='nav-link m-2'><a href="{{ url_for('forum') }}">Forum</a></li>
                    {% endif %}
                    {% if current_user.account_type == 'Admin' %}
                        <li class='nav-link m-2'><a href="{{ url_for('forum_archive') }}">Archive</a></li>
                    {% endif %}
                    <li class='nav-link m-2'><a href="{{ url_for('settings') }}">Settings</a></li>
                    <li class='nav-link m-2'><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li class='nav-link m-2'><a href="{{ url_for('login') }}">Login</a></li>
                    <li class='nav-link m-2'><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
    {% block content %}
          <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <a href="{{ url_for('glex') }}">
                    <div class="hover-zoom">
                  <img src="/static/images/ncmap.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="centered p-4">
                    <h1>Dive into Glex!</h1>
                    <p>Glex maps grocery stores in a zip code to identify food deserts. This can be used by nonprofits and charities as a tool to determine where to best direct aid.</p>
                  </div>
                </a>
              </div>

              <div class="carousel-item">
                  <a href="{{ url_for('seating_chart_main_page') }}">
                  <div class="hover-zoom">
                <img src="/static/images/seatingchart.png" class="d-block w-100" alt="...">
                </div>
                <div class="centered p-4">
                    <h1>Seating Chart</h1>
                    <p>This seating chart program takes student names and outputs a randomized seating chart that can be used for school exams and testing.</p>
                  </div>
                  </a>
              </div>
            </div>
          </div>
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="scroll-container">
                        <div class="scroll-element js-scroll fade-in-bottom">
                            <h1 class = 'm-4' style = "font-family: 'Roboto Slab', serif; font-size: 3.5vh">What is CSFox?</h1>
                            <p class = 'm-4' style = "font-family: 'Roboto Slab', serif; font-size: 1.9vh">
                                CSFox is a website created and run by computer science students at Green Level High School.
                                The original idea was for the site to act as a portfolio for students, hosting all the amazing
                                projects computer science students create, but the end goal has grown to include tutorials
                                (which are currently being developed) and a discussion board for student collaboration.
                                Projects range from games students have created to possible solutions to global problems. Our
                                tutorials will give students the foundations for coding in Python, Java, C++, and skills for
                                other computer science topics like web development. Here at CSFox we want to provide an opportunity
                                for students to develop relationships with universities and connect with industry professionals.
                                Our students have dedicated many hours to amazing projects, and we want to provide an outlet for
                                them to show off their work.
                            </p>
                            <h1 class = 'm-4' style = "font-family: 'Roboto Slab', serif; font-size: 3.5vh">What can CSFox do for you?</h1>
                            <p class = 'm-4' style = "font-family: 'Roboto Slab', serif; font-size: 1.9vh">
                                CSFox offers many resources to help students develop their knowledge of computer science and coding.
                                We are currently creating basic computer science tutorials for students who are interested in learning
                                about programming, and will continue to develop tutorials on more complex topics. We also offer
                                an online message board where students can collaborate to work through computer science problems. We at
                                CSFox are dedicated to helping our school community learn about programming and hope to be as helpful a
                                site as possible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mb-4">
            <div class="row justify-content-center">
                <div class="col-3 me-3">
                    <div class="card" style="width: 18rem;">
                        <a href="#">
                        <img src="/static/images/mrfox_profile.jfif" class="card-img-top" style="aspect-ratio: 1/1;">
                        <div class="card-body">
                            <h5 class="card-title">Andrew Fox</h5>
                            <p class="card-text">Mr. Fox is the owner of CSFox and teaches computer science at Green Level High School. He works behind the scenes to get CSFox the necessary approval.</p>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <a href="#">
                        <img src="/static/images/sam_profile.jpeg" class="card-img-top" style="aspect-ratio: 1/1;">
                        <div class="card-body">
                            <h5 class="card-title">Sam Fishburn</h5>
                            <p class="card-text">Sam is one of the main admins of the CSFox website. He's been working on the homepage, project pages, login system, forum, settings page, and backend of CSFox.</p>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-3 ms-3">
                    <div class="card" style="width: 18rem;">
                        <a href="#">
                        <img src="/static/images/nate_profile.jpg" class="card-img-top" style="aspect-ratio: 1/1;">
                        <div class="card-body">
                            <h5 class="card-title">Nate Case</h5>
                            <p class="card-text">Nate is one of the main admins of the CSFox website. He's been working on the tutorials section of CSFox and the auxiliary development of CSFox.</p>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="font-family: 'Roboto slab', serif;">
            <div class="col-6 mt-4">
                <h4>Have a project you want on the site?</h4>
                <p>If you have a project you want putting on CSFox, fill out this form. We can't guarantee every project a spot, but we'd love to see what you're working on!</p>
                <a style="color: blue" href="https://forms.gle/V3gbNrNpYZLkTPUJA">Project Request Form</a>
            </div>
        </div>
        </div>
    {% endblock %}
  </body>
  <script src="/static/js/csfox.js"></script>
</html>